.user-welcome{

  & a {
    text-decoration: none;
  }

  & .userName {
    color: red;
  }
}

.userInfos {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.graphs{
  margin-left: 0;
}

.medium-graphs{
  display: flex;
  justify-content: space-around;
}

.api-error{
  color: red;
}

.container-error{
  display: flex;
  justify-content: center;
  align-items: center;
}
