.user-welcome{

  & a {
    text-decoration: none;
  }

  & .userName {
    color: red;
  }
}

.userInfos {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.graphs{
  margin-left: 7rem;
}

.medium-graphs{
  display: flex;
}
