.radarChart {
  border: 1px solid #282D30;
  width: 250px;
  height: 250px;
  background-color: #282D30;
  border-radius: 5px;

  &__container {
    &--radar {
      .name {
        color: white;
      }
    }
  }
}

// tablet responsiv
@media screen and (max-width: 1240px) {
  .radarChart {
    width: 200px;
    height: 200px;
  }
}
