.small-card {
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  padding: 1rem;
  border-radius: 20px;
  margin: 2rem 4rem 2rem;

  &__infos{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    & p{
      margin: 0.5rem;
    }

    &__data {
      font-weight: bolder;
    }
  }
}
